[submodule "Packages/jp.keijiro.neolowman"]
	path = Packages/jp.keijiro.neolowman
	url = https://github.com/keijiro/NeoLowMan.git
	branch = upm
[submodule "Packages/jp.keijiro.kino.post-processing"]
	path = Packages/jp.keijiro.kino.post-processing
	url = https://github.com/keijiro/Kino.git
	branch = upm
[submodule "Packages/jp.keijiro.kvant.swarm-mv"]
	path = Packages/jp.keijiro.kvant.swarm-mv
	url = https://github.com/keijiro/KvantSwarmMV.git
	branch = upm
[submodule "Packages/jp.keijiro.kvant.spray-mv"]
	path = Packages/jp.keijiro.kvant.spray-mv
	url = https://github.com/keijiro/KvantSprayMV.git
	branch = upm
[submodule "Packages/jp.keijiro.kvant.warp"]
	path = Packages/jp.keijiro.kvant.warp
	url = https://github.com/keijiro/KvantWarp.git
	branch = upm
[submodule "Packages/jp.keijiro.klak"]
	path = Packages/jp.keijiro.klak
	url = https://github.com/keijiro/Klak.git
	branch = upm
[submodule "Packages/jp.keijiro.lasp"]
	path = Packages/jp.keijiro.lasp
	url = https://github.com/keijiro/Lasp.git
	branch = upm
